*{

    font-family:'Roboto',sans-serif;

}

header{

    text-align: center;

    color: snow;

}



body{

    background-color: rgb(33, 33, 46);

}



#names{

    text-align: center;

    margin-top: 15%;

    color: snow;

}



#p1name{

    background-color: white;


    margin-top: 5px;

}



#p2name{

    background-color: white;

    margin-top: 5px;

}



button{

    background-color: white;

    border:0.1em solid #FFFFFF;

    border-radius:0.12em;

    box-sizing: border-box;

    font-family:'Roboto',sans-serif;

    color: rgb(33, 33, 46);

    transition: all 0.2s;

    height: 30px;

}

button:hover{

    color:#ffffff;

    background-color:rgb(33, 33, 46);

}
