*{

    font-family:'Roboto',sans-serif;

}

header{

    color: snow;

    text-align: center;

}

body{

    background-color: rgb(33, 33, 46);

}

.parent{

    display: flex;

    flex-wrap: wrap;

    column-gap:20px;

    align-items: center;

    justify-content: center;

}
.sel

{

    width: 25%;

    margin-top: 2%;

    height: 500px;

    background-color: rgb(112, 129, 139);

    border-radius: 2%;

    border-style: double;

    border-width: 3px;

    border-color: #FFFFFF;

}



#button{

    background-color: rgb(33, 33, 46);

    border: 1px;

    border-color: #FFFFFF;

    border-style: double;

    border-radius:2%;

    box-sizing: border-box;

    font-family:'Roboto',sans-serif;

    color: snow;

    transition: all 0.2s;

    width: 80%;

    height: 65%;


    margin-left: 10%;

    margin-top: 25%;

    font-size: larger;

}

#button:hover{

    color:rgb(33, 33, 46);

    background-color:snow;

}
